<% include partials/header %>

        hello ejs <%= title %>
    <ul>
        <% user.forEach(function(user) { %>
            <li>user <%= user.name %> with <%= user.id %> has age of <%= user.age %> </li>
       <% }) %>
    </ul>
<% include partials/footer %>
